<!DOCTYPE html>
<html>

<head>

    <title>AI Farmer Assistant</title>

</head>

<body>

    <h1>AI Farmer Assistant</h1>

    <input type="text" id="message">

    <button onclick="sendMessage()">
        Send
    </button>

    <div id="chatbox"></div>

<script>

async function sendMessage() {

    const message =
        document.getElementById("message").value;

    const response = await fetch("/chat", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            message: message
        })

    });

    const data = await response.json();

    document.getElementById("chatbox").innerHTML += `
        <p><b>You:</b> ${message}</p>
        <p><b>Bot:</b> ${data.response}</p>
    `;
}

</script>

</body>
</html>